%h1= @doc.title
%p= @doc.content

= link_to "All Docs", docs_path
= link_to "Edit Doc", edit_doc_path(@doc)
= link_to "Trash It", doc_path(@doc), method: :delete, data: { confirm: "Are You Sure" }

  <header id="header" class="header fixed">
    <div class="navbar-top">
      <div class="curren-menu info-left">
        <div class="logo">
          <a href="index.html" title="">
            <img src="images/logo.png" alt="One Admin">
          </a>
        </div><!-- /.logo -->
        <div class="top-button">
          <span></span>
        </div><!-- /.top-button -->
        <div class="box-search">
          <form action="#" method="get" accept-charset="utf-8">
            <button><img src="images/icon/search.png" alt=""></button>
            <input type="text" placeholder="Search Projects..." name="Search">
          </form>
        </div><!-- /.box-search -->
      </div><!-- /.curren-menu -->
      <ul class="info-right">
        <li class="setting">
          <a href="#" class="waves-effect waves-teal" title="">
            <img src="images/icon/setting.png" alt="">
          </a>
        </li><!-- /.setting -->
        <li class="notification">
          <a href="#" class="waves-effect waves-teal" title="">
            7
          </a>
        </li><!-- /.notification -->
        <li class="user">
          <div class="avatar">
            <img src="images/avatar/01.png" alt="">
          </div>
          <div class="info">
            <p class="name">STUARD ALEX</p>
            <p class="address">San Fransico, CA</p>
          </div>
          <div class="arrow-down">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
          </div>
          <div class="dropdown-menu">
            <ul>
              <li>
                <div class="avatar">
                  <img src="images/avatar/01.png" alt="">
                </div>
                <div class="profile">
                  <a href="#" title="">View Profile</a>
                </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <a href="#" class="waves-effect" title="">My Account</a>
              </li>
              <li>
                <a href="#" class="waves-effect" title="">Setting</a>
              </li>
              <li>
                <a href="#" class="waves-effect" title="">Logout</a>
              </li>
            </ul>
          </div><!-- /.dropdown-menu -->

          <div class="clearfix"></div>
        </li><!-- /.user -->
        <li class="button-menu-right">
          <img src="images/icon/menu-right.png" alt="">
        </li><!-- /.button-menu-right -->
      </ul><!-- /.info-right -->
      <div class="clearfix"></div>
    </div>	<!-- /.navbar-top -->
  </header><!-- /header <-->